@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-cairo-sans);
}

@theme {
  --color-primary: #64ad46;
  --color-black: #161716;
  --color-WetGray: #464643;
  --color-signalGray: #8e8d89;
  --color-SmokyWhite: #efece9;
  --color-Background: #f6f8ff;
  --color-Alert: #f45959;
  --color-Stroke: #e6e6e6;
  --border-width-20: 20px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cairo-sans), Arial, Helvetica, sans-serif;
}

@layer components {
  .container {
    width: 100% !important;
    max-width: 1230px !important;
    margin: 0 auto;
    /* min-width: 100%; */
    padding-inline: 15px !important;
  }
  /* 
  @media (min-width: 640px) {
    .container {
      padding: 0 2rem;
    }
  }

  @media (min-width: 1024px) {
    .container {
      padding: 0 3rem;
    }
  } */

  /* Category section */
  .category-swiper {
    padding-inline: 30px;
  }

  .category-swiper .swiper-button-next::after,
  .category-swiper .swiper-button-prev::after {
    font-size: 12px;
    color: var(--color-primary);
  }

  .catetgory-navigation-wrapper .swiper-button-disabled {
    border-color: var(--color-signalGray) !important;
    color: var(--color-signalGray) !important;
    opacity: 1;
    cursor: not-allowed;
  }

  /* Spinner */

  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--color-primary);
    border-right-color: var(--color-primary);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
