/* Hero Slider Pagination */
/* Base style */
.hero-prev,
.hero-next {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  transition: all 0.3s ease;
}

/* Active (clickable) */
.hero-prev:not(.swiper-button-disabled),
.hero-next:not(.swiper-button-disabled) {
  background: transparent;
  color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  cursor: pointer;
}

/* Disabled state */
.hero-prev.swiper-button-disabled,
.hero-next.swiper-button-disabled {
  cursor: not-allowed;
  color: white !important;
  border-color: white !important;
  background: transparent;
}

/* Hero Slider Pagination */
/* Base style */

.hero-pagination {
  position: absolute;
  inset-inline-start: -50%;
  transform: translateX(50%);
}

.hero-pagination .swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  background: var(--color-primary) !important;
  opacity: 1;
  border-radius: 50%;
  margin: 0 4px;
  transition: all 0.3s ease;
  margin: 0 !important;
}

.hero-pagination
  :not(.swiper-pagination-bullet.swiper-pagination-bullet-active) {
  background: white !important;
  opacity: 1 !important;
}

/* Category section */
.category-swiper {
  padding-inline: 30px;
}

.category-swiper .swiper-button-next::after,
.category-swiper .swiper-button-prev::after,
.review-swiper .swiper-button-next::after,
.review-swiper .swiper-button-prev::after {
  font-size: 12px;
  color: var(--color-primary);
}

.catetgory-navigation-wrapper .swiper-button-disabled,
.review-navigation-wrapper .swiper-button-disabled {
  border-color: var(--color-signalGray) !important;
  color: var(--color-signalGray) !important;
  opacity: 1;
  cursor: not-allowed;
}

/* Review Pagination */
/* imageOffer Pagination */

.imageOffer-pagination .swiper-pagination-bullet,
.review-pagination .swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  background: var(--color-primary) !important;
  opacity: 1;
  border-radius: 50%;
  margin: 0 4px;
  transition: all 0.3s ease;
  margin: 0 !important;
}

.imageOffer-pagination
  :not(.swiper-pagination-bullet.swiper-pagination-bullet-active),
.review-pagination
  :not(.swiper-pagination-bullet.swiper-pagination-bullet-active) {
  background: var(--color-primary) !important;
  opacity: 30% !important;
}

.imageOffer-pagination,
.review-pagination {
  position: absolute;
  inset-inline-start: -50%;
  transform: translateX(50%);
}

/* imageOffer Navigation */

.imageOffer-navigation-wrapper .swiper-button-disabled {
  color: var(--color-signalGray) !important;
  opacity: 1;
  cursor: not-allowed;
}
